
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Advance</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <h1>Gym Advance</h1>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#trainers">Trainers</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer>
        <div class="container">
            <p>&copy; 2024 Gym Advance. All rights reserved.</p>
            <ul class="socials">
                <li><a href="#"><img src="~/images/path-to-facebook-icon.png" width="4px"/></li>
                <li><a href="#"><img src="~/images/path-to-instagram-icon.png" width="4px /></li>
                <li><a href="#" /><img src="~/images/path-to-linkedin-icon.png" width="4px /></li>
                <li><a href="#" /><img src="~/images/path-to-twitter-icon.png"width="4px" /></li>
            </ul>
        </div>
    </footer>

</body>
</html>

    
